* {
    bg-col:  #161320;
    bg-col-light: #1E1D2F;
    border-col: #DDB6F2;
    selected-col: #161320;
    blue: #DDB6F2;
    fg-col: #D9E0EE;
    fg-col2: #F28FAD;
    grey: #D9E0EE;
    width: 600;
}

